.sign-up-container {
    display: flex;
    flex-direction: column;
    width: 552px;
    padding-top: 120px;
    background-color: #ebefff;

    .registerLink {
        font-weight: bold;
        color: #004EEB;
    }

    h2 {
        margin: 10px 0;
    }

    .buttons-container {
        display: flex;
        justify-content: left;
        
        .button-container {
            width: 100%;
        }
    }
}