.mapping-workbench-triple-map-frag-manag-container {    
    display: flex;
    flex-direction: column;   
    
    .page-title, .page-subtitle {
      text-align: center;
    }
    .page-content {
      text-align: center;
    }
    .menuContainer {
      display: flex;
      justify-content: center;
      width: 300px;
    }
}