# BACKEND dependencies
python-multipart~=0.0.6
motor~=3.2.0
python-dotenv~=1.0.0
pydantic~=2.4
pydantic-settings~=2.0
beanie==1.22
fastapi~=0.103
fastapi-users[beanie,oauth]==12.1
uvicorn[standard]
requests-toolbelt~=1.0.0
xlrd~=2.0.1
openpyxl~=3.1.2
pandas~=2.1.0
rdflib~=7.0.0
pyshacl~=0.24.0