iframe#jsd-widget {
    background: none !important;
    left: 8px !important;
    bottom:65px !important;
    position:fixed;
    border:none !important;
    z-index: 2010 !important;
}

body, html {
    background-color: transparent;
}
