<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Summary Validation Report</title>
    <link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
                margin: 25px auto;
                width: 80%;
        }
        .success, .valid, .unverifiable {
          color: #3c763d;
        }
        .info {
          color: #31708f;
        }
        .warning {
          color: #8a6d3b;
        }
        .danger, .invalid, .error {
          color: #a94442;
        }
        .strong {
            font-weight: bold;
        }
        table thead th {
            text-align: left;
        }
        table.display thead th {
            padding-left: 10px;
        }
        [data-role=collapsible].collapsible-wrapper {
            padding: 10px 0;
        }
        [data-role=collapsible] h4 {
            margin: 0;
        }
        [data-role=collapsible] h4 a {
            padding: 3px 10px;
            background: #ccc;
            width: 100%;
            box-sizing: border-box;
            display: block;
            color: #111;
            text-decoration: none;
            margin: -3px 0;
        }

        [data-role=collapsible][data-state=collapsed] h4 a:before {
            content: '+ expand';
        }
        [data-role=collapsible] h4 a:before {
            content: '- collapse';
        }
        [data-role=collapsible][data-state=collapsed] .ui-collapsible-content {
            visibility: hidden;
            height: 0;
            padding: 0 10px;;
        }

        [data-role=collapsible] .ui-collapsible-content {
            padding: 10px;
        }
    </style>
  </head>
  <body>
	<h1>Validation Summary Report</h1>

    <hr>
    <h3>XPATH Coverage Summary</h3>
    <h4>Report details: </h4>
    <ul>
        <li>XPATHs covered: <b>{{ xpath.results|selectattr("is_covered", "equalto", true)|list|count }}</b></li>
    </ul>

    <hr>

    <h3>SPARQL Summary</h3>
    <h4>Report details: </h4>
    {% set result_valid_count = sparql.summary|map(attribute="result")|map(attribute="valid")|map(attribute="count")|sum %}
    {% set result_unverifiable_count = sparql.summary|map(attribute="result")|map(attribute="unverifiable")|map(attribute="count")|sum %}
    {% set result_warning_count = sparql.summary|map(attribute="result")|map(attribute="warning")|map(attribute="count")|sum %}
    {% set result_invalid_count = sparql.summary|map(attribute="result")|map(attribute="invalid")|map(attribute="count")|sum %}
    {% set result_error_count = sparql.summary|map(attribute="result")|map(attribute="error")|map(attribute="count")|sum %}

    {% set result_total = result_valid_count + result_unverifiable_count + result_warning_count + result_invalid_count + result_error_count %}
        <p>---</p>

    <table class="display" data-order='[[0, "asc"]]'>
        <thead class="center aligned">
        <tr>
            <th>Result</th>
            <th>Count</th>
            <th>Ratio (%)</th>
        </tr>
        </thead>
        <tbody>
            {% if result_total > 0 %}
            <tr>
                <td class="strong valid">Valid</td>
                <td>{{ result_valid_count }}</td>
                <td>{{ (result_valid_count / result_total * 100) | round(2) }}%</td>
            </tr>
            <tr>
                <td class="strong unverifiable">Unverifiable</td>
                <td>{{ result_unverifiable_count }}</td>
                <td>{{ (result_unverifiable_count / result_total * 100) | round(2) }}%</td>
            </tr>
            <tr>
                <td class="strong invalid">Invalid</td>
                <td>{{ result_invalid_count }}</td>
                <td>{{ (result_invalid_count / result_total * 100) | round(2) }}%</td>
            </tr>
            <tr>
                <td class="strong warning">Warning</td>
                <td>{{ result_warning_count }}</td>
                <td>{{ (result_warning_count / result_total * 100) | round(2) }}%</td>
            </tr>
            <tr>
                <td class="strong error">Error</td>
                <td>{{ result_error_count }}</td>
                <td>{{ (result_error_count / result_total * 100) | round(2) }}%</td>
            </tr>
            {% else %}
            <tr>
                <td>No results</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <p>-------</p>
    <h3>SHACL Summary</h3>
    <h4>Result severity: </h4>
    {% set result_info_count = shacl.summary.results|map(attribute="result")|map(attribute="info")|map(attribute="count")|sum %}
    {% set result_warning_count = shacl.summary.results|map(attribute="result")|map(attribute="warning")|map(attribute="count")|sum %}
    {% set result_violation_count = shacl.summary.results|map(attribute="result")|map(attribute="violation")|map(attribute="count")|sum %}
    <p>---</p>
    {% set result_total = result_info_count + result_warning_count + result_violation_count %}
        <table class="display">
            <thead class="center aligned">
            <tr>
                <th>Severity</th>
                <th>Count</th>
                <th>Ratio (%)</th>
            </tr>
            </thead>
            <tbody>
                {% if result_total > 0 %}
                <tr>
                    <td>Info</td>
                    <td>{{ result_info_count }}</td>
                    <td>{{ (result_info_count / result_total * 100) | round(2) }}%</td>
                </tr>
                <tr>
                    <td>Warning</td>
                    <td>{{ result_warning_count }}</td>
                    <td>{{ (result_warning_count / result_total * 100) | round(2) }}%</td>
                </tr>
                <tr>
                    <td>Violation</td>
                    <td>{{ result_violation_count }}</td>
                    <td>{{ (result_violation_count / result_total * 100) | round(2) }}%</td>
                </tr>
                {% else %}
                <tr>
                    <td>No results</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    <p>-------</p>

  </body>
</html>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("[data-role=collapsible] h4 a").on("click", function(e) {
            $p = $(this).closest("[data-role=collapsible]");
            $p.attr("data-state", $p.attr("data-state") == "collapsed" ? "expanded" : "collapsed");
            $c = $p.find('.ui-collapsible-content');
            $c.attr("data-state", $c.attr("data-state") == "collapsed" ? "expanded" : "collapsed");
            return false;
        });
        $("table.display").DataTable({
            dom: 'B<"clear">t',
            buttons: [],
            "lengthMenu": [[5, 15, 30, -1], [5, 15, 30, "All"]],
            "pageLength": 15,
            responsive: {
                details: true
            }
        });

    });

</script>