<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>XPATH Coverage Report</title>
    <link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">

    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
                margin: 25px auto;
                width: 80%;
        }
        h2 {
            padding-top: 20px;
        }
        .error {
            color: red;
        }
        .success {
            color: green;
        }
        table.dataTable thead th {
            text-align: left;
            padding-left: 10px;
        }
        td.break-word {
            word-break: break-word;
            overflow-wrap: break-word;
        }
        table td {
            vertical-align: top;
        }
        div.clear {
            clear: both;
        }
        div.hr {
            height: 5px;
            margin: 5px 0;
            background: #ccc;
        }
        div.hr.small {
            height: 2px;
        }

        hr {
            margin: 12px 0;
            height: 5px;
            background: #ccc;
            border: 0;
        }
    </style>
</head>
<body>
<h1>XPATH Coverage Report</h1>
<hr>
<h2>Report details: </h2>
<ul>
    <li><b>Date created:</b> {{ created_at }}</li>
</ul>
{% if results|length > 0 %}
<hr>
<h2>XPATH Assertions</h2>
<table class="display results" data-order='[[0, "asc"]]'>
    <thead>
    <tr>
        <th>Form Field</th>
        <th>XPATH</th>
        <th>Found</th>
        <th>Notices</th>
    </tr>
    </thead>
    <tbody>
    {% for item in results %}
    <tr>
        <td>{{ item.eforms_sdk_element_id }} - {{ item.eforms_sdk_element_title }}</td>
        <td class="break-word">{{ item.eforms_sdk_element_xpath }}</td>
        <td class="{% if item.is_covered %}success{% else %}error{% endif %}">{{ item.is_covered }}</td>
        <td>{{ item.test_data_xpaths|length}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
<hr>
</body>
</html>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("table.display.results").DataTable({
            dom: 'B<"clear">lf<"clear"><"hr small">iprtip',
            buttons: [],
            "lengthMenu": [[5, 15, 30, -1], [5, 15, 30, "All"]],
            "pageLength": 15,
            responsive: {
                details: true
            },
            columnDefs: [
                { "width": "50%", "targets": [1] }
            ]
        });

        $("table.display.summary").DataTable({
            dom: 'B<"clear">lfiprtip',
            buttons: [],
            "lengthMenu": [[5, 15, 30, -1], [5, 15, 30, "All"]],
            "pageLength": 15,
            responsive: {
                details: true
            }
        });
    });

</script>