.new-project-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;   

    .project-metadata-fields {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .project-meta-field {
        display: inline-flex;
        justify-content:center;
        margin-bottom:20px;
        //border-bottom: 1px solid black;

        .project-meta-label {
            font-size: 24px;
            font-weight: bold;
            width: 20%;
        }
        .project-meta-value{
            font-size: 24px;
            width: 80%;
        }
    }

    .cardStyle {
        width: 100%;
    }
}