.mapping-workbench-projectManagement-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 40px;
    .page-title, .page-subtitle {
      text-align: center;
    }
    .page-content {
      text-align: center;
    }
    .menuContainer {
      display: flex;
      justify-content: center;
      width: 300px;
    }
}