.mapping-workbench-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
    .page-title {
      text-align: center;
      margin-top: 100px;
    }
    .page-content {
      text-align: center;
    }    
}