.container {
  overflow: auto;
}


.text-color {
  color: gray;
}

.tag {
  cursor: pointer;
  color: #990055;
  white-space: nowrap;
  &:hover{
    background-color: #bbb;
  }
  &-selected-field {
    background-color: yellow;
  }
  &-selected-node {
    background-color: lightgreen;
  }
}

.attr {
  cursor: pointer;
  &:hover{
    background-color: #bbb;
  }
  &-name {
    color: #669900;
  }

  &-value{
    color: #0077aa;
  }
}

.string-content {
  color: black;
}

